<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjw.bookcapture.pojo.UserPojo">
	<select id="getUserByUsername" parameterType="string" resultType="User">
		SELECT * FROM TOOL_USER WHERE USERNAME=#{username}
	</select>
	
	<select id="getserAuthorities" parameterType="string" resultType="string">
		SELECT AUTHORITIES FROM TOOL_ROLES WHERE USERNAME=#{username}
	</select>
	
	<insert id="registerOneUser" parameterType="User">
		INSERT INTO TOOL_USER(USERNAME,PASSWORD) VALUES (#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
	</insert>
	
	<insert id="registerRoles" parameterType="map">
		INSERT INTO TOOL_ROLES(USERNAME,AUTHORITIES) VALUES (#{username,jdbcType=VARCHAR},#{authorities,jdbcType=VARCHAR});
	</insert>
</mapper>