<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	
	<!-- static resource won't be filtered -->
	<http pattern="/css/**" security="none"></http>  
    <http pattern="/fonts/**" security="none"></http>
    <http pattern="/js/**" security="none"></http>
    <http pattern="/img/**" security="none"></http>
    
    <!-- Except login -->
    <!-- <http pattern="/Login.jsp" security="none"></http> -->
    
    <http disable-url-rewriting="false" auto-config="true">
		<!-- <headers disabled="true"/> -->
		<!-- <csrf disabled="true"/> -->
		
		<access-denied-handler error-page="/authFailed" />
		<!-- login part -->
		<intercept-url pattern="/loginInit" access="permitAll"/>
		<intercept-url pattern="/loginOneUser" access="permitAll"/>
		<!-- register part -->
		<intercept-url pattern="/registerInit" access="permitAll"/>
		<intercept-url pattern="/registerOneUser" access="permitAll"/>
		
		<intercept-url pattern="/authFailed" access="permitAll"/>
		<intercept-url pattern="/**" access="hasRole('USER')"/>
		<form-login login-page="/loginInit" default-target-url="/loginRedirect" always-use-default-target="true" />
		<logout logout-url="/logout"/>
		
		<remember-me data-source-ref="dataSource" token-validity-seconds="1209600"/>
	</http>
	
	<authentication-manager alias="authManager" erase-credentials="false">
		<authentication-provider ref="authenticationProvider" />
		<!-- <authentication-provider user-service-ref="authService">
			<password-encoder hash="md5">
				<salt-source user-property="username"/>
			</password-encoder>
		</authentication-provider> -->
	</authentication-manager>
	
	<beans:bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="hideUserNotFoundExceptions" value="false" />  
    	<beans:property name="userDetailsService" ref="authService" />  
    	<beans:property name="userCache" ref="userCache" />  
    	<beans:property name="passwordEncoder" ref="passwordEncoder" />  
    	<beans:property name="saltSource" ref="saltSource" />  
	</beans:bean>
	
	<beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"></beans:bean>
	<beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<beans:property name="userPropertyToUse" value="username"></beans:property>
	</beans:bean>
	
	<global-method-security pre-post-annotations="enabled" />
	
	<!-- Access Deny Part -->
	<!-- <beans:bean id="accessDeniedHandler" class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
		<beans:property name="errorPage" value="/errorpage"/>
	</beans:bean> -->
	
	<!-- Authentication service part -->
	<beans:bean id="authService" class="com.sjw.bookcapture.serviceImpl.AuthenticationServiceImpl"></beans:bean>
	
	<!-- Use usercache part-->
	<beans:bean id="userCache" class="org.springframework.security.core.userdetails.cache.EhCacheBasedUserCache">
		 <beans:property name="cache" ref="userEhCache" />
	</beans:bean>
	
	<beans:bean id="userEhCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">  
    	<beans:property name="cacheName" value="userCache" />  
    	<beans:property name="cacheManager" ref="cacheManager" />  
	</beans:bean>
	
	<beans:bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" />  

</beans:beans>